node_modules
.next
out
build
dist
coverage
.turbo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
.vscode
.idea

next-env.d.ts

supabase/.branches
supabase/.temp
supabase/.env

.vercel
